body {
    width: 100%;
    height: auto;
    background-image: url("images/4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
	background-color: lightgray;
}

#results {
    text-align: center;

}

h2 {
font-size: .5vw;
color: #8c1516;
}