body {
    width: 100%;
    height: auto;
    background-image: url("images/4.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
	background-color: lightgray;
}

#results {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
font-size: 1.5vw;
color: #8c1516;
}

h1 {
    font-size: 1.8vw;
}

.getBtn {
    background-color: #162c57;
    border-radius: 6px;
    padding: 10px 26px;
    color: white;
    border: none;
}

.getBtn:hover {
    background-color: #8c1516;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
  }